:root {
    --primary-color: #5a5f69;
    --primary-light-color: #FFE769;
    --secondary-color: #003399;
    --secondary-light-color: #003399;
    --post-color: #62EEA8;
    --delete-color: #FF9F9F;
    --light-color: #FFFEFC;
    --grey-color: #747E79;
    --dark-color: #000000;

    --primary-font: 'Cabin', sans-serif;
    --seconday-font: 'Calistoga', sans-serif;
    
    --border-width: 3px;
    --element-border-radius: 5px;
    
    --button-height: 5px;
    
    --small-button-height: 2px;
    
    --element-padding: 0.8em;
    
    --maximum-width: 320px;
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

body {
    color: var(--dark-color);
    background-color: var(--secondary-light-color);
    font-family: var(--primary-font);
}

/* === Typography === */

h1, h2 {
    margin: 0;
}

h2 {
    font-weight: 500;
}

.app-title {
    font-family: var(--seconday-font);
    font-size: 2.5em;
    text-align: center;
}

/* === Sections === */

section {
    margin: 3em 0;
}

.auth-fields-and-buttons {
    display: flex;
    flex-direction: column;
    gap: 1em;
}
/*posts*/


.post-section {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.user-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8em;
}

.user-section img {
    width: 3.75em;
    height: 3.75em;
    border-radius: 100%;
    border: var(--border-width) solid var(--dark-color);
}

.user-section h2 {
    font-size: 1.2em;
}
/* === Structure === */

.container {
    max-width: var(--maximum-width);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#logged-out-view .container {
    gap: 2em;
}

/* === Common for elements === */

input, button, textarea {
    font-family: inherit;
    padding: var(--element-padding);
    border-radius: var(--element-border-radius);
    width: 100%;
    box-sizing: border-box;
}
 
 
input, button {
    font-size: 1.1em;
    text-align: center;
    border: var(--border-width) solid var(--dark-color);
}
 
input:focus, button:focus {
    outline: none;
}
/* this is for the user profile */
.app-container {
    display: flex;
    flex-direction: column;
    gap: 3em;
}

/* === Input fields === */

input {
    font-weight: 300;
}

input::placeholder { 
    color: var(--grey-color);
    opacity: 1; 
}

input:-ms-input-placeholder { 
    color: var(--grey-color);
}

input::-ms-input-placeholder { 
    color: var(--grey-color);
}

textarea {
    font-size: 1em;
    border: 0;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, .25);
    resize: none;
    height: 6em;
}
 
 
textarea::placeholder { 
    color: var(--grey-color);
    opacity: 1; 
}
 
 
textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--grey-color);
}
 
 
textarea::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--grey-color);
}
 

/* === Buttons === */

button {
    font-weight: 600;
    width: 100%;
    border:none;
}

button:hover {
    cursor: pointer;
}

.primary-btn {
    background-color: var(--primary-color);
    box-shadow: 0px var(--button-height) 0px 0px var(--dark-color);
    position: relative;
}

.primary-btn:hover {
    top: var(--button-height);
    box-shadow: none;
}

.secondary-btn {
    padding: 0.4em;
    background-color: transparent;
}

.secondary-btn:hover {
    color: var(--light-color);
    background-color: var(--dark-color);
}

.provider-btn {
    color: var(--dark-color);
    background-color: var(--light-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    border: 0;
    box-shadow: 0.1px 0.1px 0.1px .1px rgba(0, 0, 0, .25);
    visibility:hidden;
}

.provider-btn:hover {
    transition: all 0.2s ease;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, .25);
}

.google-btn-logo {
    width: 1.375em;
}

/* 
classes to make the sign out buttons work 
*/

.icon-img-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 1.875em;
}

.icon-img-btn:hover {
    filter: invert(0.5);
}

body {
    font-family: Times, serif;
    margin: 0;
    padding: 0;
    background-color: #003399;
}


.header h1 {
    font-size: 2rem; 
    margin: 0;
    font-weight: normal;
}

.ticket-form {
    max-width: 100%; 
    margin: 80px auto; 
    padding: 30px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%; 
}

.banner {
    display: block; 
    width: 100%; 
    height: auto; 
    object-fit: cover; 
}


.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 16px;
}

input[type="text"],
input[type="email"],
input[type="date"],
textarea,
select {
    width: 100%; 
    height: auto; 
    max-width: 800px; 
    padding: 15px;
    margin: 8px 0;
    border: 2px solid #ccc;
    border-radius: 12px;
    box-sizing: border-box;
    font-size: 18px; 
    background-color: #f9f9f9;
}


textarea {
    height: 150px;
    resize: none;
}

input:focus,
textarea:focus,
select:focus {
    border-color: #153974; 
}

select {
    appearance: none;
    background-size: 12px;
}

.submit-button {
    font-family: Times, serif;
    background-color: #153974; 
    color: white;
    padding: 15px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    transition: 0.3s ease;
}

.submit-button:hover {
    background-color: #00287a; 
}